.review-image{
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.review-image:after{
    content: "";
    display: block;
    padding-top: 56.25%;
}

#review-form textarea{
    width: 100%;
}

.starrr a.fa.checked{
    color: #FFC960;
}

.starrr a.fa{
    color:unset;
    text-decoration: none;
    font-size: 56px;
    cursor: pointer;
}